/* :root {
  --darkSalmon: #E49678;
  --darkJungleGreen: #082629;
  --midnightGreen: #125B62;
  --middleBlueGreen: #81C6BF;
  --azureXwebColor:#D9E9E9;
} */
/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Remove list styles (bullets/numbers) in case you use it with normalize.css*/
ol, ul, li {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  background-color: #F6F4F4;
  overflow-x: hidden;
  color: #082629;
  font-family: 'Red Hat Text', sans-serif;
}

h1, h2, h3 {
  font-family: 'Red Hat Display', sans-serif;
  color: #082629;
}

h1 {
  font-size: 4em;
  font-weight: 900;
}

h2 {
  font-size: 3.5em;
  font-weight: 900;
}

h6 {
  font-family: 'Bonheur Royale', cursive;
  font-size: 3em;
}

p {
  font-size: 1em;
}
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.color {
  color: #E49678;
}

.background-logo {
  background-image: url(../images/logo-E49678.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.1;
  z-index: -1;
}

.inner-wrapper {
  margin: 100px 10% 0;
}

.top-section {
  background-color: rgba(129, 198, 191, 0.25);
  height: 525px;
}

.top-section-header {
  display: flex;
  justify-content: space-between;
}

.top-section-header .logo {
  margin: 50px 0 0 50px;
}

.top-section-header .toggle {
  margin: 50px 50px 0 0;
}

.top-section-header .main-menu {
  display: none;
}

.top-section-tittle {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.top-section-tittle .void {
  width: 10%;
}

.top-section-tittle .tittle {
  text-align: center;
  width: 80%;
}

.top-section-tittle .tittle h6 {
  margin-bottom: 25px;
}

.top-section-tittle .social-icons {
  width: 10%;
}

.top-section-tittle .social-icons li {
  margin-right: 50px;
  margin-bottom: 25px;
}

.top-section-tittle .social-icons li img {
  margin-left: auto;
  margin-right: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .main-menu {
  display: none;
}

.top-section-down {
  text-align: center;
  margin-top: 100px;
}

.top-section-box-left img {
  position: absolute;
  left: 3.3%;
  top: 220px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: slideUpDown;
}

@keyframes slideUpDown {
  from {
    margin-top: 250px;
  }

  50% {
    margin-top: 0;
  }

  to {
    margin-top: 250px;
  }
}

.top-section-box-right img {
  position: absolute;
  right: 5.5%;
  top: 475px;
  -webkit-animation: spin 30s linear infinite;
  -moz-animation: spin 30s linear infinite;
  animation: spin 30s linear infinite;
  animation-name: spinUpDown;
}

@-moz-keyframes spinUpDown {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinUpDown {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinUpDown {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.top-section-box-bottom img {
  position: absolute;
  left: 3.3%;
  top: 575px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: slide;
}

@keyframes slide {
  from {
    margin-left: 20%;
  }

  50% {
    margin-left: 0%;
  }

  to {
    margin-left: 20%;
  }
}

.about-me-wrapper {
  display: flex;
  margin-top: 100px;
  height: 700px;
  position: relative;
}

.about-me-wrapper .about-me-left {
  background-color: rgba(129, 198, 191, 0.25);
  padding-bottom: 200px;
  width: 35%;
}

.about-me-wrapper .about-me-left .one,
.about-me-wrapper .about-me-left .two {
  position: absolute;
}

.about-me-wrapper .about-me-left .one {
  top: 50px;
  left: 100px;
}

.about-me-wrapper .about-me-left .two {
  top: 155px;
  left: 300px;
}

.about-me-wrapper .about-me-right {
  background-color: #F4F0EE;
  width: 65%;
}

.about-me-wrapper .about-me-right .info {
  margin-top: 50px;
  margin-left: 30%;
}

.about-me-wrapper .about-me-right p {
  margin-top: 25px;
  width: 425px;
}

.about-me-wrapper .about-me-right button {
  margin-top: 50px;
}
