/* :root {
  --darkSalmon: #E49678;
  --darkJungleGreen: #082629;
  --midnightGreen: #125B62;
  --middleBlueGreen: #81C6BF;
  --azureXwebColor:#D9E9E9;
} */
/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Remove list styles (bullets/numbers) in case you use it with normalize.css*/
ol, ul, li {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  background-color: #F6F4F4;
  overflow-x: hidden;
  color: #082629;
  font-family: 'Red Hat Text', sans-serif;
}

a {
  cursor: pointer;
}

h1, h2, h3 {
  font-family: 'Red Hat Display', sans-serif;
  color: #082629;
}

h1 {
  font-size: 4em;
  font-weight: 900;
}

h2 {
  font-size: 3.5em;
  font-weight: 900;
}

h6 {
  font-family: 'Bonheur Royale', cursive;
  font-size: 3em;
}

p {
  font-size: 1em;
}
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.color {
  color: #E49678;
}

.background-logo {
  background-image: url(../images/logo-E49678.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.1;
  z-index: -1;
}

.inner-wrapper {
  margin: 100px 10% 0;
}

#top{
  position: relative;
  margin: auto;
  max-width: 1440px;
}

.top-section {
  background-color: rgba(129, 198, 191, 0.25);
  height: 525px;
  /* position: relative;
  margin: auto;
  max-width: 1440px; */
}

.top-section-header {
  display: flex;
  justify-content: space-between;
}

.top-section-header .logo {
  margin: 50px 0 0 50px;
}

.top-section-header .toggle {
  margin: 50px 50px 0 0;
}

.top-section-header .main-menu {
  display: none;
}

.top-section-tittle {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.top-section-tittle .void {
  width: 10%;
}

.top-section-tittle .tittle {
  text-align: center;
  width: 80%;
}

.top-section-tittle .tittle h6 {
  margin-bottom: 25px;
}

.top-section-tittle .social-icons {
  width: 10%;
}

.top-section-tittle .social-icons li {
  margin-right: 50px;
  margin-bottom: 25px;
  text-align: right;
}

.top-section-tittle .social-icons li img {
  max-width: none;
}

.top-section-down {
  text-align: center;
  margin-top: 100px;
}

.top-section-down img{
  transition: 3s;
}

.top-section-down img:hover{
  scale:(1.5);
}

.top-section-box-left img {
  position: absolute;
  left: -100px;
  top: 125px;
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: slideUpDown;
}

@keyframes slideUpDown {
  from {
    margin-top: 250px;
  }

  50% {
    margin-top: 0;
  }

  to {
    margin-top: 250px;
  }
}

.top-section-box-right img {
  position: absolute;
  right: -70px;
  top: 375px;
  -webkit-animation: spin 30s linear infinite;
  -moz-animation: spin 30s linear infinite;
  animation: spin 30s linear infinite;
  animation-name: spinUpDown;
}

@-moz-keyframes spinUpDown {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinUpDown {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinUpDown {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.top-section-box-bottom img {
  position: absolute;
  left: -100px;
  top: 475px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: slide;
}

@keyframes slide {
  from {
    margin-left: 20%;
  }

  50% {
    margin-left: 0%;
  }

  to {
    margin-left: 20%;
  }
}

@media only screen and (max-width:800px){
  .top-section-tittle .void {
      }

  .top-section-tittle .tittle {
    text-align: left;
      }

      .top-section-box-right img {
        position: absolute;
        right: -70px;
        top: 375px;
        width:150px;
        height: 150px;

        -webkit-animation: spin 30s linear infinite;
        -moz-animation: spin 30s linear infinite;
        animation: spin 30s linear infinite;
        animation-name: spinUpDown;
      }

}

#about-me {
  position: relative;
  margin: auto;
  max-width: 1440px;
}

.about-me-wrapper {
  display: flex;
  margin-top: 100px;
  height: 700px;
  position: relative;
}

.about-me-wrapper .about-me-left {
  background-color: rgba(129, 198, 191, 0.25);
  padding-bottom: 200px;
  width: 35%;
}

.about-me-wrapper .about-me-left .one,
.about-me-wrapper .about-me-left .two {
  position: absolute;
}

@media only screen and (max-width:800px){
  /* for tablets */

  .about-me-wrapper {
    flex-direction: column;

  }

  .about-me-wrapper .about-me-left .one,
  .about-me-wrapper .about-me-left .two {
    position: relative;
  }

  .top-section-box-right img,
  .top-section-box-bottom img {
    display:none;
  }
}

.about-me-wrapper .about-me-left .one {
  top: 155px;
  left: 300px;
}

.about-me-wrapper .about-me-left .two {
  top: 50px;
  left: 100px;
}

.about-me-wrapper .about-me-right {
  background-color: #F4F0EE;
  width: 65%;
}

.about-me-wrapper .about-me-right .info {
  margin-top: 50px;
  margin-left: 30%;
}

.about-me-wrapper .about-me-right p {
  margin-top: 25px;
  width: 425px;
}

.about-me-wrapper .about-me-right button {
  margin-top: 50px;
}

/*********************************************/


.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #082629;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 50px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 20px;
  /* background: #0e2431; */
}

/* :root {
  --darkSalmon: #E49678;
  --darkJungleGreen: #082629;
  --midnightGreen: #125B62;
  --middleBlueGreen: #81C6BF;
  --azureXwebColor:#D9E9E9;
}  */

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
  background: #082629;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
  background: #125B62;
}

.nav-container .hamburger-lines .line3 {
  transition: transform 0.2s ease-in-out;
  background: #81C6BF;
}

.nav-container .hamburger-lines .line4 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
  background: #E49678;
}

.navbar .menu-items {
  padding-top: 120px;
  background-color: #81C6BF;
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
  height: 100vh;
  width: 100%;
  transform: translate(150%);
  display: flex;
  flex-direction: column;
  /* margin-left: -40px; */
  padding-left: 50p6x;
  transition: transform 0.75s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 2em;
  font-weight: 600;
}

.navbar .logo img{

  margin: 5px 0 0 50px;
  }

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}


.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: scaleY(0);
}


.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line4 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
